<h1>Eat the Burger!</h1>


<img src="/assets/images/burger.jpg" alt="burger" class="center">

<h2>Ready to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{name}}
        <button class="devour-burger" data-id="{{id}}" data-devour="{{devoured}}">
          Devour
	      </button>
      </li>
    {{/unless}}
  {{/each}}

</ul>


<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{name}}
    {{/if}}
  {{/each}}
</ul>

<h2>What would you like?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="addBurger"> Enter Burger Name </label>  
    <input class="form-control" type="text" id="addBurger" placeholder="Burger Name">
    
    <button type="submit" id="createBtn">Add Burger</button>
  </div>

 

  
</form>



</div>


