<h1>Eat the Burger!</h1>


<img src="/assets/images/burger.jpg" alt="burger" class="center">

<h2>Ready to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}

</ul>


<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new">  </label>  
    <input class="form-control" type="text" id="new" placeholder="Burger Name">
    
  </div>

  <div class="form-group">
    
    
  </div>

  <button type="submit" >Add Burger</button>
</form>

<div class="footer">

</div>

<!--<input type="text"  name="name">
